<html>
    <head>
        <title>ReciPic</title>
        <link rel="stylesheet" href="../static/styles.css">
        <script src="../static/script.js"></script>
    </head>
    <body>
        
        <div class="banner">
            <div class="navbar">
                <p class="logo"> ReciPic </p>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="generaterecipe.html">Generate Recipe</a></li>
                    <li><a href="#">Chatbot</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Saved Recipes</a></li>
                </ul>
            </div>

            <div class="content">
                <h1>Follow these easy steps!</h1>
                <p>Upload a photo of the ingredients you have on hand, 
                <br>and get suggestions for recipes based on those ingredients.
                <br>Use filters to accommodate various dietary preferences and restrictions.
                <br>Discover delicious recipes with ReciPic now!
                </p>
                <div>
                    <button type="button"><span></span>Upload Image</button>
                    <button type="button"><span></span>Capture Image</button>
                </div>
            </div>
            <div class="left-col">
                <div class="sidebar">
                    <h2>Filters</h2>
                    <!-- <h3></h3> -->
                    <div class="filter">
                        <input type="checkbox"><p>Cuisines</p>
                    </div>
                    <div class="filter">
                        <input type="checkbox"><p>Vegetarian</p>
                    </div>
                    <div class="filter">
                        <input type="checkbox"><p>Non-Vegetarian</p>
                    </div>
                    <div class="filter">
                        <input type="checkbox"><p>Jain</p>
                    </div>
                    <div class="filter">
                        <input type="checkbox"><p>Vegan</p>
                    </div>
                    <div class="filter">
                        <input type="checkbox"><p>Lactose-Free</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>

