<html>
    <head>
        <title>ReciPic</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <p class="logo"> ReciPic </p>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="{{ url_for('generate_recipe') }}">Generate Recipe</a></li>
                    <li><a href="#">Chatbot</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
            <div class="home-content">
                <h1>SCAN AND FIND RECIPES</h1>
                <p>Tired of staring at your pantry wondering what to cook? 
                   <br>Snap a photo of your ingredients, hit submit, and get a custom recipe instantly. 
                   <br>It's that simple!
                </p>
                <div>
                    <button type="button"><span></span>Try It!</button>
                </div>
            </div>
        </div>
    </body>
</html>