
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='new_styles.css') }}">

    <title>ReciPic</title>
</head>
<body>
    <header>
        <div class="container">
          <nav>
            <div class="logo"><p>ReciPic</p></div>
            <ul>
              <div class="menu-button"><i class="fas fa-times close"></i></div>
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('search') }}">Search</a></li>
              <li><a href="{{ url_for('generate_recipe') }}">Generate Recipe</a></li>
              <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
            </ul>
            <div class="menu-button"><i class="fas fa-bars menu"></i></div>
          </nav>
        </div>
      </header>

    <section id="explore">
        <div class="container">
            
            <p class="heading-normal-txt">Explore Endless Recipe Possibilities</p>
            <h2 class="headings">Cooking Revolutionized</h2>
            <div class="choose-wrapper">
              <div class="img-left-side">
                <div class="lg-img">
                    <img src="./static/assets/food1.jpg" alt="">
                    <div class="img-content">
                    <h2>Pancakes</h2>
                    
                    </div>
                </div>
              </div>
              <div class="img-right-side">
                <div class="lg-img">
                    <img src="./static/assets/food2.jpg" alt="">
                    <div class="img-content">
                    <h2>Paneer Curry</h2>
                    
                    </div>
                </div>
              </div> 
            </div>

            <div class="row-wise-img">
                <div class="lg-img">
                    <img src="./static/assets/food3.jpg" alt="">
                    <div class="img-content">
                    <h2>Noodles</h2>
                    
                    </div>
                </div>
                <div class="lg-img">
                    <img src="./static/assets/food4.jpg" alt="">
                    <div class="img-content">
                    <h2>Pizza</h2>
                    </div>
                </div>
                <div class="lg-img">
                    <img src="./static/assets/food5.jpg" alt="">
                    <div class="img-content">
                    <h2>Fried Rice</h2>
                    </div>
                </div>
                <div class="lg-img">
                    <img src="./static/assets/food6.jpg" alt="">
                    <div class="img-content">
                    <h2>Salads</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/swiper.js"></script> 
    <script src="js/index.js"></script>
</body>
</html>