<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReciPic</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='new_styles.css') }}"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
</head>
<body>
  <header>
    <div class="container">
      <nav>
        <div class="logo"><p>ReciPic</p></div>
        <ul>
          <div class="menu-button"><i class="fas fa-times close"></i></div>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('search') }}">Search</a></li>
          <li><a href="{{ url_for('generate_recipe') }}">Generate Recipe</a></li>
          <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
        <div class="menu-button"><i class="fas fa-bars menu"></i></div>
      </nav>
    </div>
  </header>

      <main>
        <div class="search">
            <p>Unlock Flavor with Words: Discover Your Next Culinary Masterpiece</p>
            <h2>Search for Recipes</h2>
            <input type="text" name="searchbar" id="searchbar" placeholder="Search for Recipes here "><br>
            <br><button class="primary-btn">Search</button>
        </div>
        <div class="recipe-container"></div>
    </main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='recipe.js') }}"></script>
</body>
</html>
